extends layout

block content
  .row
    .col-sm-12
      canvas(id="stockChart", width="200", height="75")
  .row
    .col-md-8.col-md-offset-2
      form#add-ticker-form(method='POST')
        #search-input
          input(type='hidden', name='_csrf', value=_csrf)
          .input-group.col-md-12
            input#ticker.form-control(placeholder="Enter a ticker..")
            span.input-group-btn
              button#add-ticker.btn.btn-info(type="submit")
                i.fa.fa-search
  .row#errorMessage              
  .row#tickersDisplay
